* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

body {
    width: 100%   
}

main {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1400px;
}

header, footer {
    color: white;
    text-align: center;
    max-width: 1400px;
    padding: .5rem;
    margin: auto;
}

header {
    background-color: #1160FF;
}

footer {
    background-color: #2A71FF;
}

h1 {
    font-family: Georgia;
    font-size: 2em;
}
#subHeaderText {
    margin-top: -1.375rem;
    font-family: Georgia;
    font-size: .60em;
    text-align: right;
    margin-right: 30rem;
}

footer {
    font-size: .75em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer div {
    display: inline-block;
}

/* NAVIGATION */

/*nav {
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 1.0em;
    max-width: 1400px;
    background-color: #94CC22;
    padding: 0 .5rem;
    margin: auto;
    font-family: Georgia;
} 

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 1.5rem;
}

nav li a {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(23,67,88,0.3);
    padding: .5rem 1rem;
} 

nav li {
    float: left;
}

nav li a:hover {
    background-color: #79B203;
}

nav li a.active {
    background-color: white;
}*/

.navigation li { 
    display: none; 
}

.navigation.responsive { 
    position: relative;
    background-color: #94CC22;
    color: black;
    font-weight: 600;
    font-size: 1.0em;
    max-width: 1400px;
    margin: auto;
    font-family: Georgia;
}

.navigation.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation.responsive li { 
    display: inline-block;
}

.navigation.responsive li a {	
    text-align: center;	
    display: block; 
    text-decoration: none; 
    color: black;
    padding: .5rem 1rem;
}

.navigation.responsive li a:hover { 
    background-color: #79B203; 
}

.navigation.responsive li a.active {
    background-color: white;
}

/* END NAVIGATION */

table {
    padding: 10px;
    border: 1px solid black;
}

th {
    text-align: center;
    font-size: 1.75em;
    color: #5D93FF;
    font-family: Georgia;
}

/* Main Forecast */

.mainForecast table {
    padding-bottom: 1.5rem;
}

.mainForecast th {
    padding-bottom: 2.5rem;
}

.mainForecast {
    padding-top: .0625rem;
    margin-left: 40rem;
    margin-top: -20rem;
}

.mainForecast td {
    padding-left: 5rem;
    padding-right: 5rem;
}

.mainForecast #summary {
    color: #FFB611;
    font-weight: 600;
}

.mainForecast #high {
    color: #FF4C2A;
    font-weight: 600;
}

.mainForecast #precipitation {
    color: #048CE8;
    font-weight: 600;
}

.mainForecast #low {
    color: #0D48BF;
    font-weight: 600;
}

.mainForecast #wind {
    color: #048CE8;
    font-weight: 600;
}

main p, td {
    font-family: Verdana;
    color: #000000;
    font-size: .85em;
}

/* 10 Day Forecast */

.tenDayForecast {
    margin-top: 6.25rem;
    padding-top: 2.5rem;
}

.tenDayForecast table {
    width: 100%;
    border: 1px solid black;
    padding-bottom: 2em;
}

.tenDayForecast th {
    padding-bottom: 1.25rem;
}

.tenDayForecast td {
    border: 0px solid black;
    text-align: center;
    padding: .5em;
}

.tenDayForecast #day {
    background-color: #94CC22;
    font-weight: 600;
}

/* Hamburger Menu */
.hamburger { 
    display: block;
    position: absolute;
    top: 4.35rem;
}

