
/* main */

body {
    width: 278px;
    margin-left:40px;
}

header {
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: #000;    
}

thead th:nth-child(1) {
    background-color:  #7fb9c2;
}

thead tr th {
    font-family: 'Ubuntu', sans-serif;
    color: #000;
}

thead {
    padding: 10px;
    font-size: 28px;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 6px 6px 10px #628ca6;
}

th {
    color: #fff;
    padding: 10px;
    background-color: #628ca6;
}

td {
    padding: 10px;
}

tbody {
    color: #000;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

tr td.blackfriday {
    background-color: #628ca6;
}

.blackfriday {
    color: #fff;
}

tfoot tr:nth-child(1) {
    background-color: #7fb9c2;
}

tfoot {
    font-family: 'Ubuntu', sans-serif;
    background-color: #7fb9c2;
    color: #000;
    font-size: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;}

table, th, td {
   border: 1px solid gray;}



/* footer */













    









