* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
body {
    width: 100%   
}

main {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 586px;
}

main p, td {
    font-family: Verdana;
    color: #000000;
    font-size: .85em;
}

header, footer {
    color: white;
    text-align: center;
    padding: 1px 0px;
    font-family: Georgia;
}

header {
    background-color: #1160FF;
}

footer {
    background-color: #2A71FF;
}

h1 {
    font-family: Georgia;
    font-size: 2em;
}
#subHeaderText {
    margin-top: -22px;
    font-family: Georgia;
    font-size: .60em;
    text-align: right;
    margin-right: 15px;
}

footer {
    font-size: .75em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer div {
    display: inline-block;
}

/* NAVIGATION */

.navigation li { 
    display: none; 
}

.navigation.responsive { 
    position: relative;
    background-color: #94CC22;
    color: black;
    font-weight: 600;
    font-size: 1.0em;
    font-family: Georgia;
    margin: auto;
}

.navigation.responsive ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.navigation.responsive li { 
    display: block;
    margin-left: -3rem;
}

.navigation.responsive li a {	
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(23,67,88,0.3);
    padding: .5rem 1rem;
    text-align: center;
}

.navigation.responsive li a:hover { 
    background-color: #79B203; 
}

.navigation.responsive li a.active {
    background-color: white;
}

/* END NAVIGATION */

table {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}

th {
    text-align: center;
    font-size: 1.75em;
    color: #5D93FF;
    padding-bottom: 20px;
    font-family: Georgia;
}

/* Main Forecast */

.mainForecast {
    margin-top: 1.5rem;
}

.mainForecast #summary {
    color: #FFB611;
    font-weight: 600;
}

.mainForecast #high {
    color: #FF4C2A;
    font-weight: 600;
}

.mainForecast #precipitation {
    color: #048CE8;
    font-weight: 600;
}

.mainForecast #low {
    color: #0D48BF;
    font-weight: 600;
}

.mainForecast #wind {
    color: #048CE8;
    font-weight: 600;
}

/* End Main Forecast */

/* 10 Day Forecast */

.tenDayForecast {
    display: none;
}

/* End 10 Day Forecast */

.clearfix:after, row:after {
    content: "";
    display: table;
    clear: both;
}

picture {
    padding-left: 2rem;
    width: 100%;
}

.hamburger { 
    display: block;
    position: absolute;
    top: 3.55rem;
    margin-left: -.5rem;
}

@media only screen and (max-width: 320px) {
    picture {
        padding-left: .25rem;
    }
    .mainForecast {
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 400px) {
    picture {
        padding-left: 3rem;
    }
}

