/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 16; box-sizing: border-box; } 

body { 
    font-size: 18px; 
    line-height: 60px;
    font-family: /* Ubuntu, sans-serif */;
   ;
}

h1 {
    font-size: /* 2.3rem */;
    color: aliceblue; text-align: center;
    background-color: rgba(18, 16, 75, 0.88); 
}

h2 {
    font-size: /* x.xrem */;
    text-align: center;
    border-bottom: 5px solid rgba(187, 187, 187, 0.88);
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .8rem;
    max-width: /* 5px (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    text-align: center;
    background-color:  {
    background-color: rgba(18, 15, 111, 0.88);
}

div {
    background-color: #1faddb;
}

p {
    
    background:background: rgba(40, 113, 181, 0.88) none repeat scroll 15px -50px repeat ;
    background-size: 50px, 130px, auto;

}
    color: rgba(58, 55, 152, 0.87);
}

header img { 
    width: /*  */;
    height: auto;
    float: right;
}

footer {
    font-size: /* big */;
    background-color: rgba(18, 16, 75, 0.88); 
    color: aliceblue; text-align: center;
}