/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* {
margin : 0;
box-sizing : border-box;
}
body {
font-size : 16px;
line-height : 32px;
font-family : serif;
color : #082929;
}
h1 {
font-size : 45px;
color : #fad7f2;
}
h2 {
font-size : 30px;
text-align : center;
border-bottom : 1px solid #bbb;
}
header, main, footer {
margin : 1.25rem auto;
padding : 0.5rem;
max-width : 870px;
}
header, footer, footer a {
text-align : center;
background-color : #162e4a;
color : whitesmoke;
}
header img {
height : auto;
float : right;
}
nav {
display : block;
text-align : center;
}
footer {
font-size : 13px;
}
.style1 {
margin : 0 auto;
border : #bbb solid 1px;
padding : 5px;
background-color : #eee;
line-height : 1.5em;
}